<!-- Use it like any other HTML element -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('Index.static', filename='main.css') }}">
</head>

<body>

  <section class="section-products">
    <span data-bs-custom-class="custom-tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top"
      data-bs-title="Click para agregar un nuevo producto">
      <a href="/agregar_producto" class="btn .bg-secondary " style="width: 100%; font-size: 2rem;"> ➕</a>
    </span>

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <div class="header">
            <h1>Productos</h1>
          </div>
        </div>
      </div>
      <div class="row">
        {% for archivo in img_url %}
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="product-1" class="single-product">
            <div class="part-1"
              style="background: url('{{ archivo.RutaImagen }}') no-repeat center; background-size: cover;">
              <ul>
                <li><a href="/detalle_producto/{{ archivo.Id }}" class="btn btn-primary">Ver Mas</a></li>
                <span data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Click para eliminar el producto">
                  <li>
                    <a href="{{ url_for('Index.borrar_producto', producto_id=archivo.Id) }}"
                      class="btn btn-danger">✖</a>
                  </li>
                </span>
                <span data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Click para editar el producto">
                <li><a href="{{ url_for('Index_Modificar.actualizar_producto', producto_id=archivo.Id) }}"
                    class="btn btn-danger">⚙</a></li>
                </span>
              </ul>
            </div>
            <div class="part-2">
              <h3 class="product-title">{{ archivo.NombreProducto }}</h3>
              <h4 class="product-price">${{ archivo.Precio }}</h4>
              <!-- Agrega cualquier otra información dinámica que desees mostrar -->
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
  </script>
</body>

</html>